@import "reset.css";

body {
    background: #232733;
    color: #7CB459;
}

h1 {
    padding-top: 80px;
    font-size: 2rem;
}
.bayan-wrapper {
    margin: 0 auto;
    max-width: 60%;
    font-weight: bold;
}

/* Сокрытие элементов */
.icon {
    display: inline-block;
    width: 1rem; 
    opacity: 0;
    transition: .5s;
}
input {
    display: none;
}

/* /Сокрытие элементов */
.bayan-wrapper:hover .icon {
    opacity: 1;
}

.bayan-wrapper:hover {
    color: #fff;
}

label {
    cursor: pointer;
    display: flex;
}

.checker {
    justify-content: space-between;
    padding: 1rem;
}

.content {
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .8s;
    opacity: 0;
}

.content>img {
    max-width: 100%;
    max-height: 100%;
    opacity: 1;
}

/* Появление contenta */
input:checked~.content, input:hover~.content {
    opacity: 1;
    height: 30rem; 
}

/* animation icon */
input:checked~.checker>.icon, input:hover~.checker>.icon {
    rotate: 135deg;
}

/* active */
li:active label, li:active .content>img{
    cursor: copy;
    transition: 1s;
    color: blue;
    opacity: .5;
}